/*Aqui nós temos a folha de estilo principal do nosso site*/
/*colors: #3B6863, #7EB3A9, #9DB4B1*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: garamond;
}
:root {
  --verde-escuro: #3b6863;
  --verde-claro: #7eb3a9;
  --branco-esverdeado: #9db4b1;
  --cinza: #9e9e9e;
  --preto-escuro: #0f1114;
  --preto-claro: #282828;
}
body {
  background-color: var(--verde-claro);
  background-attachment: fixed;
  font-family: garamond;
  font-size: 40px;
  margin: 0%;
}
/*Cabecalho*/
header {
  position: sticky;
  top: 0;
  background-color: var(--verde-escuro);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1%;
  font-size: 70%;
  box-shadow: 0 2px 20px var(--preto-claro);
}
.header-item {
  text-align: center;
  padding: 0;
}
.header{
  background-color: white;
}
header a {
  color: var(--cinza);
  padding: 0%;
}
a {
  text-decoration: none;
  color: var(--preto-escuro);
}
a#header {
  width: 8.5%;
}
img {
  z-index: 2;
}
.progress {
  background-color: var(--branco-esverdeado);
  color: #0f1114;
  padding: 1% 2% 1% 2%;
  border-radius: 40px;
  box-shadow: 0 1px 10px #282828;
}
.progress:hover {
  box-shadow: 0 1px 10px #282828, 0 1px 20px #1f1f1f, 0 1px 30px #0f1114;
}
.header-item:hover {
  text-shadow: 0 5px 10px #7eb3a9;
}
h1 {
  font-size: 40px;
  text-align: center;
  padding: 2%;
}
div#abrangent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
main {
  background-color: #3b6863;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 3%;
  padding: 1%;
  border-radius: 15px;
  height: 60%;
  box-shadow: 0 5px 20px #282828;
}
.box {
  background-color: #9db4b1;
  font-size: 35px;
  border-radius: 10px;
  text-align: center;
  padding: 3%;
  margin: 1%;
  width: 30%;
  height: 5%;
  box-shadow: 0 5px 20px #282828;
}
.box:hover {
  box-shadow: 0 0 30px #7eb3a9;
  cursor: pointer;
}
.resumo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #9e9e9e;
  background-color: #3b6863;
  padding: 1%;
}
.container {
  opacity: 0.93;
  background-color: #3b6863;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: 5% 7% 7% 7%;
  border-radius: 15px;
  height: 60%;
  box-shadow: 0 5px 20px #282828;
}
.container-item {

  color: #9e9e9e;
  display: block;
  padding: 2%;
  margin: 15px;
}
.container-item a {
  color: #9e9e9e;
}
h2 {
  font-size: 35px;
  text-align: center;
  line-height: 80px;
}
h3{
  text-align: center;
}
p,
pre {
  margin: 3%;
  text-indent: 50px;
  font-size: 25px;
  text-align: justify;
  font-family: garamond;
  letter-spacing: 2px;
  line-height: 120%;
}

body#login {
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}
main#login {
  position: relative;
  flex-flow: column;
  width: 50%;
  opacity: 0.8;
}
h1#login {
  padding: 5%;
}
#slider {
  width: 100%;
  max-width: 100%;
  height: 50vw;
  max-height: 40%;
  position: relative;
}
#slider img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 800ms;
}
#slider img.selected {
  opacity: 1;
}
/*Aqui nós teremos a área da pagina conta*/

main#conta {
  font-size: small;
}
box-conta :hover {
  box-shadow: 0 5px 20px var(--preto-claro);
  cursor: pointer;
}

label {
  font-size: 20px;
}
main#conta {
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}
.botao {
  background-color: #8f8f8f;
  border: 2px solid #8f8f8f;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
i {
  font-weight: bold;
}
h3 {
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
}
main#conta {
  display: flex;
  flex-direction: row;
}
.paragrafo{
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.titulo{
  font-size: 45px;
}

/*Aqui nós temos uma folha de estilo secundária que garante a responsividade do site em celulares*/
@media screen and (max-width: 600px) {
  h1{
    font-size: 30px;
    padding-top: 20px;
  }
  h2{
    line-height: 41px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  label{
    font-size: 25px;
  }
  p{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: left;
  }
  header {
    box-shadow: 1px -5px 20px 4px #1f1f1f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    font-size: 40%;
  }

  .label {
    height: 16px;
    width: 30px;
  }
  .label .ball {
    top: 2px;
    left: 2px;
    height: 12px;
    width: 12px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  .checkbox:checked + .label .ball {
    transform: translateX(14px);
  }
  .progress {
    color: black;
    padding: 1% 2% 1% 2%;
    border-radius: 40px;
    box-shadow: -2px 2px 5px black;
  }
  .progress:hover {
    box-shadow: 0 1px 2.5px #282828, 0 1px 5px #1f1f1f, 0 1px 10px #0f1114;
  }
  .header-item {
    text-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    line-height: 100%;
  }
  .header-item:hover {
    font-weight: normal;
  }
  main {
    margin: 5%;
    border-radius: 15px;
    box-shadow: 0 5px 10px #0f1114;
    box-shadow: -2px 2px 5px black;
  }
  .box {
    font-size: 70%;
    text-align: center;
    margin: 20px;
    padding: 20px;
    width: 90%;
    box-shadow: -2px 2px 5px black;
  }
  .box img{
    width: 45vw;
  }
  /*Adicionar Conteúdo e adicionar Formulário*/
  .paragrafo{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .titulo{
    font-size: 30px;
  }
}